*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}
.input {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 40px;
}

.input input{
  border: none;
  text-align: center;
  outline: none;
  color: black;
  min-width: 250px;
  width: 250px;
  height: 40px;
  border-radius: 15px;
}

.input button{
  cursor: pointer;
  margin: 5px;
  height: 35px;
  width: 50px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: rgb(20, 207, 231);
  color: white;
}

.input button:hover{
  background-color: rgb(18, 134, 134);
  transition: .2s;
}
.todos{
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.todoContent{
  word-break: break-all;
  padding: 10px;
  border: 2px solid rgb(20, 207, 231);
  font-weight: 400;
  font-size: 16px;
  border-radius: 15px;
  color: black;
  background: white;
  margin: 10px;
  width: 400px;
  min-height: 30px;
  max-height: 60px;
}